
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@section style{
    <style>
        .CategoryOrtala {
            margin-left: 450px;
        }
    </style>
}

@using NeIstersen.Model.Entity
@model List<OrderDetail>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title CategoryOrtala"> Siparis Detayı</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <span style=" text-align:center">Sipariş Kodu : <strong>@Model[0].OrderID</strong></span> &nbsp;
            <a href="@Url.Action("SiparisOnay","Order",new {area="Admin",id=Model[0].OrderID })">Siparişi Onayla <i class="fa fa-check"></i></a> &nbsp;
            <a href="@Url.Action("SiparisRed","Order",new {area="Admin",id=Model[0].OrderID })">Siparişi Reddet <i class="fa fa-circle"></i></a>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tr>
                        <th>Urün Adi</th>
                        <th>Urun Alıs Fiyatı</th>
                        <th>Urun Satıs Fiyatı</th>
                        



                        @*<th colspan="2">Güncelle/Sil</th>*@
                    </tr>
                    @foreach (OrderDetail item in Model)
                    {
                <tr>
                    <td>@item.Product.Adi</td>
                    <td>@item.Product.AlisFiyat</td>
                    <td>@item.Product.SatisFiyat</td>
                   


                    <td>
                        <span>Toplam Sipariş Tutarı : @Model[0].Order.ToplamTutar <i class="fa fa-dollar"></i></span>

                    </td>

                </tr>

                    }
                </table>
                
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>


